In [1]:
import pickle 
import pandas as pd 
f = open("./dataset/dataset.txt", "rb")
data = pickle.load(f)

sentence, labels = [], []
for d in data:
    text = d["text"]
    label = d["labels"]
    sentence.append(text)
    labels.append(label)
    
df = pd.DataFrame(labels, columns=["negative", "neutral", "positive"])
df["text"] = sentence 
df[["text", "negative", "neutral", "positive"]].sample(10)

,text,negative,neutral,positive
2680,以上の結果、国内きのこ事業全体の売上高は422億96百万円（同3.1％増）となりました,0,0,1
3334,また、エレクトロニクス事業では、昨年５月と本年３月に滋賀県守山市におけるリチウムイオン二次電...,0,0,0
3918,セグメントの業績は次のとおりであります,0,0,0
4319,なお、当連結会計年度において福岡県に１店舗の新規開店、退店を２店舗行ったことから、当連結会計...,0,0,0
3669,（以下、「２生産、受注及び販売の状況」及び「７財政状態、経営成績及びキャッシュ・フローの状況...,0,0,0
4924,"また、営業利益は、前年同期比7,688百万円減少し、15,920百万円となりました",1,0,0
5381,貨物部門におきましては、堅調に推移し、貨物収入は前年同期に比べ増加いたしました,0,0,1
3101,"自動車販売事業は、新車販売等が減少し、売上高21,686百万円（前年同期比5.1％減）となり...",1,0,1
3709,ニンテンドー3DSでは、全世界で11月に発売した『ポケットモンスター サン・ムーン』が大変話...,0,0,1
2358,これらの環境のもと、上記の取組みにより過去最高の業績を達成することができました,0,0,1

In [2]:
from tokenizer import tokenizer_
sample = data[0]["text"]
tokenizer_()(sample,
                      max_length=128,
                      padding="max_length",
                      truncation=True)

{'input_ids': [2, 162, 5329, 6787, 1387, 23, 593, 965, 19, 57, 37, 17, 32, 1321, 593, 1017, 19, 48, 37, 1069, 32, 6, 562, 36, 162, 28692, 38, 140, 24, 5, 12344, 28518, 994, 9, 6, 1189, 9026, 920, 5656, 1546, 5, 3465, 14, 2463, 51, 6, 1963, 3296, 9, 25510, 25759, 312, 1313, 5617, 5, 3040, 14, 2463, 459, 6, 13569, 9, 15021, 18, 3641, 12872, 14, 1822, 10, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [3]:
from data import DataLoader_ 
d = DataLoader_()

In [4]:
train, val, test = d.dataloader()
train

In [10]:
for i in train:
    input_ = i 
    break

In [11]:
import torch 
from model import BertForSequenceClassificationMultiLabel
model = BertForSequenceClassificationMultiLabel(3)

with torch.no_grad():
    labels = input_.pop("labels")
    output = model(input_)
print(output.size())

torch.Size([32, 3])

In [14]:
loss_f = torch.nn.BCEWithLogitsLoss()
loss_f(output, labels.float())

tensor(0.8917)

In [21]:
s = output.cpu().numpy() 
import numpy as np 
corr = np.where(s >= .5, 1, 0).astype(int) == labels.cpu().numpy()

corr.sum()

31

In [23]:
labels.size()[0]*3

96

In [28]:
float("inf") > 20

True

In [ ]:
from train import train 
train(1, False, 12, 32, 5.0)